<div class="container-fluid" id="contenedorPrincipal">
    <div class="container-fluid" id="parteSuperior">
        <div class="infoEncabezado">
            <input type="file" id="imagenInput" style="display: none;">
            <label for="imagenInput" class="imagenRedonda">
                <img src="https://placehold.co/100x100" alt="subir imagen">
            </label>

            <h3>Nombre</h3>
            <p>correo correo.es</p>

            <div class="infoPersona">
                <div class="info-box">
                    <div>
                        <h5>75 Kg</h5>
                        <p>Peso</p>
                    </div>
                    <div>
                        <h5>28 Años</h5>
                        <p>Edad</p>
                    </div>
                    <div>
                        <h5>1.65 CM</h5>
                        <p>Altura</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-volver></app-volver>
</div>
<div class="d-flex align-item-center" id="contenedorSecciones">
    <div class="container" id="secciones">
        <div class="opciones">
            <a routerLink="">
                <div class="opcionSeccion">
                    <div class="contImgSeccion">
                        <img src="icons/logoPerfil.png" alt="" class="imgSeccion">
                    </div>
                    <p>Datos Perfil</p>
                    <img src="icons/logoVerMas.png" alt="Adios">
                </div>
            </a>

            <a routerLink="">
                <div class="opcionSeccion">
                    <div class="contImgSeccion">
                        <img src="icons/logoFavoritos.png" alt="Hola" class="imgSeccion">
                    </div>
                    <p>Favoritos</p>
                    <img src="icons/logoVerMas.png" alt="Adios">
                </div>
            </a>

            <a routerLink="">
                <div class="opcionSeccion">
                    <div class="contImgSeccion">
                        <img src="icons/logoRegistros.png" alt="Hola" class="imgSeccion">
                    </div>
                    <p>Mis registros</p>
                    <img src="icons/logoVerMas.png" alt="Adios">
                </div>
            </a>

            <a routerLink="">
                <div class="opcionSeccion">
                    <div class="contImgSeccion">
                        <img src="icons/logoLogout.png" alt="Hola" class="imgSeccion">
                    </div>
                    <p>Cerrar Sesión</p>
                    <img src="icons/logoVerMas.png" alt="Adios">
                </div>
            </a>

            <a routerLink="">
                <div class="opcionSeccion">
                    <div class="contImgSeccion">
                        <img src="icons/logoPoliticaPrivacidad.png" alt="Hola" class="imgSeccion">
                    </div>
                    <p>Politica de Privacidad</p>
                    <img src="icons/logoVerMas.png" alt="Adios">
                </div>
            </a>

        </div>
    </div>
</div>