<div class="container-fluid" id="contenedorPrincipal">
    <div class="container-fluid" id="parteSuperior">
        <div class="infoEncabezado">
            <input type="file" id="imagenInput" style="display: none;">
            <label for="imagenInput" class="imagenRedonda">
                <img src="https://placehold.co/100x100" alt="subir imagen">
            </label>

            <h3>Nombre</h3>
            <p>correo correo.es</p>
        </div>

        <div>

        </div>
    </div>
    <app-volver></app-volver>
</div>