<div class="sidebar d-none d-lg-block text-white p-4">
    <ul class="nav flex-column">
        <li class="nav-item mb-5 d-flex align-items-center">
            <img src="https://placehold.co/48x48" alt="Inicio" class="me-2" />
            <a class="nav-link text-white p-0" href="#">Inicio</a>
        </li>
        <li class="nav-item mb-5 d-flex align-items-center">
            <img src="https://placehold.co/48x48" alt="Ejercicios" class="me-2" />
            <a class="nav-link text-white p-0" href="#">Ejercicios</a>
        </li>
        <li class="nav-item mb-5 d-flex align-items-center">
            <img src="https://placehold.co/48x48" alt="Estadísticas" class="me-2" />
            <a class="nav-link text-white p-0" href="#">Estadísticas</a>
        </li>
        <li class="nav-item mb-5 d-flex align-items-center">
            <img src="https://placehold.co/48x48" alt="Perfil" class="me-2" />
            <a class="nav-link text-white p-0" href="#">Perfil</a>
        </li>
        <li class="nav-item mb-5 d-flex align-items-center">
            <img src="https://placehold.co/48x48" alt="Perfil" class="me-2" />
            <a class="nav-link text-white p-0" href="#">Perfil</a>
        </li>

        <li class="nav-item mb-5 d-flex align-items-center">
            <img src="https://placehold.co/48x48" alt="Perfil" class="me-2" />
            <a class="nav-link text-white p-0" href="#">Perfil</a>
        </li>
    </ul>
</div>


<!-- Menú inferior visible en móvil y tablet -->
<nav class="navbar fixed-bottom navbar-dark bg-dark d-flex justify-content-around d-lg-none py-2">
    <a class="nav-link text-white p-0 d-flex flex-column align-items-center" href="#">
        <img src="https://placehold.co/41x41" alt="Inicio" />
    </a>
    <a class="nav-link text-white p-0 d-flex flex-column align-items-center" href="#">
        <img src="https://placehold.co/41x41" alt="Ejercicios" />
    </a>
    <a class="nav-link text-white p-0 d-flex flex-column align-items-center" href="#">
        <img src="https://placehold.co/41x41" alt="Estadísticas" />
    </a>
    <a class="nav-link text-white p-0 d-flex flex-column align-items-center" href="#">
        <img src="https://placehold.co/41x41" alt="Perfil" />
    </a>
</nav>