<div class="container-fluid">
  <div class="container">
    <br />
    <h2>Mis Ejercicios</h2>

    <div *ngIf="ejercicios.length === 0" class="no-records-message">
      <p>No tienes registros guardados</p>
    </div>

    <div class="ejercicios-grid-container" *ngIf="ejercicios.length > 0">
      <div *ngFor="let ejercicio of ejercicios; trackBy: trackByEjercicioId">
        <div class="card" [ngClass]="{ 'open': ejercicio.isOpen }" tabindex="0">
          <div class="header" (click)="toggleCard(ejercicio); $event.stopPropagation()">
            <img [src]="ejercicio.imagen" [alt]="'Imagen de ' + ejercicio.nombre" />
            <div class="header-info">
              <h3>{{ ejercicio.nombre }}</h3>
              <p>{{ ejercicio.series.length }} series registradas</p>
            </div>
            <span class="arrow" [ngClass]="{ 'rotated': ejercicio.isOpen }">&#x25B8;</span>
          </div>

          <div class="series" *ngIf="ejercicio.isOpen">
            <div class="series-entry" *ngFor="let serie of ejercicio.series">
              <p><strong>Día:</strong> {{ serie.dia }}</p>
              <p><strong>Series:</strong> {{ serie.numero }}</p>
              <p><strong>Repeticiones:</strong> {{ serie.repeticiones }}</p>
              <p><strong>Peso:</strong> {{ serie.peso }} kg</p>
              <p><strong>Descanso:</strong> {{ serie.descanso }} minutos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-volver></app-volver>
</div>
