<div class="container-fluid">
    <div class="scroll-container">
        @for(musculo of musculos; track musculo) {
        <button type="button" class="btn btn-outline-primary me-2 flex-shrink-0">
            {{ musculo }}
        </button>
        }
    </div>
    <p>Ver mas --></p>

    <div id="mensajeEjercicio">
        <p>Ejercicios de espalda - nivel (nivel)</p>
        <p>4</p>
    </div>

    <div class="ejercicios">
        <div>
            //Lo tengo en casa
        </div>
    </div>
</div>