<div class="container-fluid">
    <div class="container">


        <!-- Sacar a un componente reutilizable para este, recomendados y registros-->
        <div class="encabezado">
            <div class="titulo_encabezado">
                <img id="imgVolver" src="icons/logoVolver.png" alt="">
                <h2>Ejercicios</h2>
            </div>
            <div class="imgs_encabezado">
                <img src="icons/logoBuscar.png" alt="">
                <img src="icons/logoPerfil.png" alt="">
            </div>
        </div><br>
        <div class="scroll-container">
            @for(musculo of musculos; track musculo) {
            <button type="button" class="btn btn-outline-primary me-2 flex-shrink-0" (click)="seleccionarMusculo(musculo)">
                {{ musculo }}
            </button>
            }
        </div>

        <div id="ejercicios-container">
            <div id="msjInfoEj">
                <p>Ejercicios de {{ musculoSeleccionado.toLowerCase() }} - nivel {{nivelSeleccionado}}</p>
                <p id="msjInfoEj_contador">4</p>
            </div>

            <!-- Sacar estas card a un modulo para no repetir codigo, luego con un for recrear que sean 5-->
            <div class="card">
                <div class="header">
                    <img src="https://placehold.co/67x67" alt="Imagen del ejercicio" />
                    <div class="header-info">
                        <h3>Elevaciones laterales con mancuernas</h3>
                        <p>n series registradas</p>
                    </div>
                    <span class="arrow">›</span>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <img src="https://placehold.co/67x67" alt="Imagen del ejercicio" />
                    <div class="header-info">
                        <h3>Nombre del Ejercicio</h3>
                        <p>n series registradas</p>
                    </div>
                    <span class="arrow">›</span>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <img src="https://placehold.co/67x67" alt="Imagen del ejercicio" />
                    <div class="header-info">
                        <h3>Nombre del Ejercicio</h3>
                        <p>n series registradas</p>
                    </div>
                    <span class="arrow">›</span>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <img src="https://placehold.co/67x67" alt="Imagen del ejercicio" />
                    <div class="header-info">
                        <h3>Nombre del Ejercicio</h3>
                        <p>n series registradas</p>
                    </div>
                    <span class="arrow">›</span>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <img src="https://placehold.co/67x67" alt="Imagen del ejercicio" />
                    <div class="header-info">
                        <h3>Nombre del Ejercicio</h3>
                        <p>n series registradas</p>
                    </div>
                    <span class="arrow">›</span>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <img src="https://placehold.co/67x67" alt="Imagen del ejercicio" />
                    <div class="header-info">
                        <h3>Nombre del Ejercicio</h3>
                        <p>n series registradas</p>
                    </div>
                    <span class="arrow">›</span>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <img src="https://placehold.co/67x67" alt="Imagen del ejercicio" />
                    <div class="header-info">
                        <h3>Nombre del Ejercicio</h3>
                        <p>n series registradas</p>
                    </div>
                    <span class="arrow">›</span>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <img src="https://placehold.co/67x67" alt="Imagen del ejercicio" />
                    <div class="header-info">
                        <h3>Nombre del Ejercicio</h3>
                        <p>n series registradas</p>
                    </div>
                    <span class="arrow">›</span>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <img src="https://placehold.co/67x67" alt="Imagen del ejercicio" />
                    <div class="header-info">
                        <h3>Nombre del Ejercicio</h3>
                        <p>n series registradas</p>
                    </div>
                    <span class="arrow">›</span>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <img src="https://placehold.co/67x67" alt="Imagen del ejercicio" />
                    <div class="header-info">
                        <h3>Nombre del Ejercicio</h3>
                        <p>n series registradas</p>
                    </div>
                    <span class="arrow">›</span>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <img src="https://placehold.co/67x67" alt="Imagen del ejercicio" />
                    <div class="header-info">
                        <h3>Nombre del Ejercicio</h3>
                        <p>n series registradas</p>
                    </div>
                    <span class="arrow">›</span>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <img src="https://placehold.co/67x67" alt="Imagen del ejercicio" />
                    <div class="header-info">
                        <h3>Nombre del Ejercicio</h3>
                        <p>n series registradas</p>
                    </div>
                    <span class="arrow">›</span>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <img src="https://placehold.co/67x67" alt="Imagen del ejercicio" />
                    <div class="header-info">
                        <h3>Nombre del Ejercicio</h3>
                        <p>n series registradas</p>
                    </div>
                    <span class="arrow">›</span>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <img src="https://placehold.co/67x67" alt="Imagen del ejercicio" />
                    <div class="header-info">
                        <h3>Nombre del Ejercicio</h3>
                        <p>n series registradas</p>
                    </div>
                    <span class="arrow">›</span>
                </div>
            </div>
        </div>
    </div>
</div>