<div class="container-fluid text-white text-center">
    <div class="container">
        <h1>Politica de Privacidad</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quibusdam dolorum, similique magni aliquid
            nisi?
            Facere, alias dolorum eligendi doloribus eum ab. Obcaecati quibusdam consequuntur sed debitis voluptate esse
            quod!</p><br>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quibusdam dolorum, similique magni aliquid
            nisi?
            Facere, alias dolorum eligendi doloribus eum ab. Obcaecati quibusdam consequuntur sed debitis voluptate esse
            quod!</p><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quibusdam dolorum, similique magni aliquid
            nisi?
            Facere, alias dolorum eligendi doloribus eum ab. Obcaecati quibusdam consequuntur sed debitis voluptate esse
            quod!</p><br>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quibusdam dolorum, similique magni aliquid
            nisi?
            Facere, alias dolorum eligendi doloribus eum ab. Obcaecati quibusdam consequuntur sed debitis voluptate esse
            quod!</p><br>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quibusdam dolorum, similique magni aliquid
            nisi?
            Facere, alias dolorum eligendi doloribus eum ab. Obcaecati quibusdam consequuntur sed debitis voluptate esse
            quod!</p><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quibusdam dolorum, similique magni aliquid
            nisi?
            Facere, alias dolorum eligendi doloribus eum ab. Obcaecati quibusdam consequuntur sed debitis voluptate esse
            quod!</p><br>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quibusdam dolorum, similique magni aliquid
            nisi?
            Facere, alias dolorum eligendi doloribus eum ab. Obcaecati quibusdam consequuntur sed debitis voluptate esse
            quod!</p><br>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quibusdam dolorum, similique magni aliquid
            nisi?
            Facere, alias dolorum eligendi doloribus eum ab. Obcaecati quibusdam consequuntur sed debitis voluptate esse
            quod!</p><br>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quibusdam dolorum, similique magni aliquid
            nisi?
            Facere, alias dolorum eligendi doloribus eum ab. Obcaecati quibusdam consequuntur sed debitis voluptate esse
            quod!</p><br>
    </div>

</div>