<div class="container d-flex align-items-center">
    <div class="detalle-ejercicio-wrapper d-flex align-items-center">
        <div class="galeria-ejercicio">
            <img src="https://placehold.co/300x300" alt="ejercicio" />
            <img src="https://placehold.co/300x300" alt="ejercicio" />
        </div>
    
        <div class="ejercicio-container">
            <h3>Jalon al Pecho</h3>
            <p class="text-center">[musculos que trabajas. En %, tipo 70% espalda, 20% biceps y 10% antebrazos]</p>
    
            <div class="badges">
                <span>[nivel]</span>
                <span>[dificultad]</span>
                <span>[tiempo]</span>
            </div>
    
            <h5 class="text-center">Descripcion del ejercicio</h5>
            <p class="descripcion">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua...
            </p>
    
            <div class="btn-group">
                <button>Registrar serie</button>
                <button>Añadir a favoritos</button>
            </div>
    
            <button class="volver-btn">Volver</button>
        </div>
    </div>
</div>
