main {
    // Para móviles/tablets
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100dvh;
  
    router-outlet {
      flex-grow: 0;
    }
  
    // SOLO aplica cuando tenga la clase con-barra
    &.con-barra {
      @media screen and (min-width: 992px) {
        padding-left: 250px;
        
      }
    }
      
    .router-container {
      position: relative;
    }
    
  }
  