<div class="container-fluid">
  <div class="container">

    <!-- ENCABEZADO -->
    <div class="encabezado">
      <div class="titulo_encabezado">
        <a (click)="volver()">
          <img id="imgVolver" src="assets/icons/logoVolver.png" alt="Icono para volver" />
        </a>
        <h2>Ejercicios recomendados</h2>
      </div>
      <div class="imgs_encabezado">
        <img src="assets/icons/logoBuscar.png" alt="Icono para buscar un ejercicio" />
        <a (click)="irPerfiloLogin()">
          <img src="assets/icons/logoPerfil.png" alt="Icono de ir al Perfil" />
        </a>
      </div>
    </div>
    <br />

    <!-- BOTONES DE MÚSCULOS -->
    <div class="scroll-container">
      <button
        *ngFor="let musculo of musculos"
        type="button"
        class="btn btn-outline-primary me-2 flex-shrink-0"
        [class.active]="musculo === musculoSeleccionado"
        (click)="seleccionarMusculo(musculo)"
      >
        {{ musculo.toUpperCase() }}
      </button>
    </div>

    <!-- CONTENEDOR DE EJERCICIOS -->
    <div id="ejercicios-container">
      <div id="msjInfoEj">
        <p>Ejercicios recomendados de {{ musculoSeleccionado }}</p>
        <p id="msjInfoEj_contador">{{ ejerciciosFiltrados.length }}</p>
      </div>

      <!-- Si no hay ejercicios -->
      <div *ngIf="ejerciciosFiltrados.length === 0" class="text-center mt-4">
        No hay ejercicios recomendados para {{ musculoSeleccionado }} 😓
      </div>

      <!-- Tarjetas de ejercicio -->

      @for (ejercicio of ejerciciosFiltrados; track ejercicio.id) {
        <app-exercice-card
          [nombre]="ejercicio.nombre"
          [imagen]="ejercicio.imgInicio">
        </app-exercice-card>
      }
    </div>
  </div>
</div>
