$primary-color: #232323;
$secondary-color: #BA5326;
$tertiary-color: #29292E;
$quaternary-color: #F8F8F8;
$accent-color: #ee7823;

// Estilos encabezado
.container-fluid {
    background-color: $primary-color;
    color: $quaternary-color;
    min-height: 100dvh;
    padding: 1rem;
    box-sizing: border-box;
    padding-bottom: 80px !important;

    .container {
        padding: 10px;
        width: 100%;
    }

    // Estilos encabezado
    .encabezado {
        display: grid;
        grid-template-columns: 70% auto;
        align-items: center;
        width: 100%;

        .titulo_encabezado {

            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;

            h2 {
                color: $quaternary-color;
                margin: 0;
            }

            #imgVolver {
                display: none;
                height: 100%;
            }

            @media (max-width: 768px) {
                #imgVolver {
                    display: block;
                    width: 26px;
                    height: 26px;
                }
            }
        }

        .imgs_encabezado {
            display: flex;
            justify-content: end;
            flex-wrap: wrap;
            gap: 15px;
            cursor: pointer;

            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}


//Carrusel
.carousel-item img {
    max-width: 100%;
    height: auto;
}

.dia-card {
    width: 90%;
}

@media (min-width: 768px) {
    .dia-card {
        width: 45%;
    }

}

@media (min-width: 992px) {
    .dia-card {
        width: 30%;
    }
}


//Recomendados
.recomendados {
    display: grid;
    grid-template-columns: 60% auto;
    align-items: center;
    width: 100%;

    .titulo_recomendaciones{
        h3{
            font-size: 1.5rem;
        }
    }

    .verMas_recomendaciones {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;
        

        h5{
            margin: 0 !important;
            font-size: 1rem;
        }

        img{
            width: 30px;
            height: 30px;
        }
    }

    
}


.exercise-grid {
  display: grid;
  gap: 1.5rem;
  padding-top: 1.5rem;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.exercise-card {
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.03);
  }

  img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid white;
  }

  .exercise-title {
    padding: 0.8rem;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    border-top: 1px solid #fff;
    border-radius: 0 0 20px 20px;
    background-color: transparent;
  }
}





// Para pantallas más grandes (laptop o más grandes) 
@media screen and (min-width: 992px) {
    main {
        padding-left: 250px;
    }
}

// Para pantallas medianas y pequeñas (incluyendo iPad Pro en modo vertical) 
@media screen and (max-width: 1024px) {
    main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .contenedorPrincipal {
        flex-grow: 0;
    }
}