<main>
    <div class="container-fluid">
        <div class="container">

            <app-barra-navegacion></app-barra-navegacion>
            <div class="encabezado">
                <div class="titulo_encabezado">
                    <a (click)="volver()"><img id="imgVolver" src="icons/logoVolver.png" alt="Icono para volver"></a>
                    <h2>Hola [usuario]</h2>
                </div>
                <div class="imgs_encabezado">
                    <img src="icons/logoBuscar.png" alt="Icono para buscar un ejercicio">
                    <a (click)="irPerfiloLogin()"><img src="icons/logoPerfil.png" alt="Icono de ir al Perfil"></a>
                </div>
            </div><br>

            <!-- Carrusel ESCRITORIO (pantallas medianas en adelante) -->
            <div class="d-none d-md-block">
                <div id="desktopCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner text-center">
                        <div class="carousel-item active">
                            <img src="carrusel/Pecho.png" alt="Primera foto rutina">
                        </div>

                        <div class="carousel-item">
                            <img src="carrusel/Piernas.png" alt="Segunda foto rutina">
                        </div>

                        <div class="carousel-item">
                            <img src="carrusel/Espalda.png" alt="Tercera foto rutina">
                        </div>

                        <div class="carousel-item">
                            <img src="carrusel/Pecho_2.png" alt="Cuarta foto rutina">
                        </div>

                        <div class="carousel-item">
                            <img src="carrusel/Piernas_2.png" alt="Quinta foto rutina">
                        </div>

                        <div class="carousel-item">
                            <img src="carrusel/Espalda_2.png" alt="Sexta foto rutina">
                        </div>
                    </div>

                    <!-- Controles -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#desktopCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#desktopCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
            </div>

            <!-- Carrusel MÓVIL (pantallas pequeñas) -->
            <div class="d-block d-md-none">
                <div id="mobileCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner text-center">
                        <div class="carousel-item active">
                            <img src="carrusel/Pecho_Movil.png" alt="Primera foto de la rutina">
                        </div>

                        <div class="carousel-item">
                            <img src="carrusel/Piernas_Movil.png" alt="Segunda foto de la rutina">
                        </div>

                        <div class="carousel-item">
                            <img src="carrusel/Espalda_Movil.png" alt="Tercera foto de la rutina">
                        </div>

                        <div class="carousel-item">
                            <img src="carrusel/Pecho_Movil.png" alt="Cuarta foto de la rutina">
                        </div>

                        <div class="carousel-item">
                            <img src="carrusel/Piernas_Movil_2.png" alt="Quinta foto de la rutina">
                        </div>

                        <div class="carousel-item">
                            <img src="carrusel/Espalda_Movil.png" alt="Sexta foto de la rutina">
                        </div>

                    </div>

                    <!-- Controles -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#mobileCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#mobileCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
            </div>



            <!--  -->
            <div class="recomendados" style="margin-top: 5%;">
                <div class="titulo_recomendaciones">
                    <h3>Recomendados</h3>
                </div>

                <div class="verMas_recomendaciones">
                    <h5>Ver todos</h5>
                    <a routerLink="recomendations"><img src="icons/logoVerMas.png"
                            alt="Icono de ir a ver todos las recomendaciones"></a>
                </div>
            </div>

            <div class="exercise-grid">
                <div class="exercise-card">
                    <img src="https://placehold.co/100x50" alt="Sentadillas">
                    <div class="exercise-title">Sentadillas</div>
                </div>
                <div class="exercise-card">
                    <img src="https://placehold.co/100x50" alt="Sentadillas">
                    <div class="exercise-title">Sentadillas</div>
                </div>
                <div class="exercise-card">
                    <img src="https://placehold.co/100x50" alt="Sentadillas">
                    <div class="exercise-title">Sentadillas</div>
                </div>
                <div class="exercise-card">
                    <img src="https://placehold.co/100x50" alt="Sentadillas">
                    <div class="exercise-title">Sentadillas</div>
                </div>
                <div class="exercise-card">
                    <img src="https://placehold.co/100x50" alt="Sentadillas">
                    <div class="exercise-title">Sentadillas</div>
                </div>
                <div class="exercise-card">
                    <img src="https://placehold.co/100x50" alt="Sentadillas">
                    <div class="exercise-title">Sentadillas</div>
                </div>
                <div class="exercise-card">
                    <img src="https://placehold.co/100x50" alt="Sentadillas">
                    <div class="exercise-title">Sentadillas</div>
                </div>
                <div class="exercise-card">
                    <img src="https://placehold.co/100x50" alt="Sentadillas">
                    <div class="exercise-title">Sentadillas</div>
                </div>


            </div>

        </div>
    </div>
</main>