$primary-color: #232323;
$secondary-color: #BA5326;
$tertiary-color: #29292E;
$quaternary-color: #F8F8F8;
$accent-color: #ee7823;


.back-button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    color: $quaternary-color;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
  
    &:hover {
      text-decoration: underline;
    }

    img{
      width: 30px;
      height: 30px;
    }
  
    @media (max-width: 480px) {
      top: 1rem;
      left: 1rem;
      font-size: 0.95rem;
    }
  }
  